{% extends "layout/default/template.twig" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">
                {{ asunto }}
            </h5>
            <div class="card-body">
                <div class="col-md-6">
                    {% include "partials/_messages.twig" %}
                    <form action="{{BASE}}{{ process }}" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" aria-describedby="email">
                            <div id="email" class="form-text text-danger">Ingrese su email </div>
                        </div>
        
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" aria-describedby="password">
                            <div id="password" class="form-text text-danger">Ingrese su password</div>
                        </div>
                        <input type="hidden" name="send" value="{{send}}">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}